*.egg-info
.DS_Store
*__pycache__/
outputs/
/wandb/
.vscode/

# Data
data/
viz/

# QGIS
qgis/

# Claude
.claude/

# temp code
scripts/__temp_david/

inference_outputs/
scripts/__temp_dev/MMoE/
scripts/__temp_dev/MTL/wandb

.conda/
multirun/


/MTL/
analysis/
report_*.md

report/
watch_refs/


PTEV2/results
/results
scripts/Checkpoints_Scores
scripts/__temp_dev

logs/

scripts/1km/euler/