*.egg-info
.DS_Store
*__pycache__/
outputs/
/wandb/
.vscode/

# Data
data/**
!data/**/
!data/**/README.md
viz/chips/

# QGIS
qgis/

# Claude
.claude/

# temp code
scripts/__temp_david/
scripts/__temp_dev/MMoE/
!scripts/__temp_dev/MTL/

.conda/
multirun/


MTL/
analysis/
